.top-login {
	position: absolute;
	top: 5rem;
	right: 1.5rem;
	z-index: 999;
  }

  .searchInvoice-button {
	height: 56px; /* match new search bar height */
	padding: 0 1.8rem;
	background-color: #c75193;
	color: white;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.9rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  }