/* This is the scrollable section */
#wrapper section#invoiceOrder .inner {
	height: 100%;
	overflow-y: auto;
	padding-right: 1rem; /* optional: space for scrollbar */
	}


/* This is the scrollable section */
#wrapper section#invoiceBuyerAddress .inner {
	height: 100%;
	overflow-y: auto;
	padding-right: 1rem; /* optional: space for scrollbar */
	}


/* This is the scrollable section */
#wrapper section#invoiceBuyerInfo .inner {
	height: 100%;
	overflow-y: auto;
	padding-right: 1rem; /* optional: space for scrollbar */
	}